* { margin: 0; padding: 0; }

html, body {
  height: 100%;
}

#clock {
  background-color:yellow;
  text-align: center;
  position: relative;
  top:50%;
  font-family: 'Gamja Flower', cursive;
  font-size: 80px;
  margin-top: -40px;
}
